@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// VARIABLES
//COLORS
$Dark-cyan: hsl(185, 75%, 39%);
$Very-dark-des-blue: hsl(229, 23%, 23%);
$Dark-grayish-blue: hsl(227, 10%, 46%);
$Dark-gray: hsl(0, 0%, 59%);

//FONTS
$font-primary:'Kumbh Sans', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
body{
    background-color: $Dark-cyan;
    font-family: $font-primary;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

// .wrapper{
//     width: 80%;
// }

.card{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    filter: saturate(120%);
    
}



main{
    height: 74%;
    

    .bg-pattern{
       width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    .avatar {
        width: 25%;
        border-radius: 50%;
      
    }

    h1{
        font-size: medium;
        margin: 10px;
    }
    h1>span, h2{
        font-weight: 100;
        color: $Dark-grayish-blue;
    }
    h2{
        font-size: small;
    }
  
}

.profile{
    position: relative;
    top: -45px;
}

.line{
    width: 108%;

 hr{
    
  border: none;
  border-top: 1px solid rgb(183, 183, 212);
  margin: 0.5rem 0.5rem 0 0.5rem;
  opacity: 0.4;
  font-size: 0.9rem;
  margin: 1rem ;
}
}
footer{
display: grid;
grid-auto-flow: column;
grid-template-columns: repeat(3, 100px);
padding-bottom: 1rem;
p{
    font-weight: 800;
}
p>span{
    font-weight: 100;
    font-size: small;
    color: $Dark-gray;
}

}
